extends base.pug

block append head
  link(rel="stylesheet",href="/form.css")
block main 
  div(class="text-center container")
    div(class="row justify-content-center")
      div(class="col-lg-4 col-md-5 col-sm-12")
        form(role="form",class="form-horizontal",method="POST",enctype="multipart/form-data")
          block form
