extends form.pug 

block form
  div(class="form-group")
    select(class="custom-select",name="engine",required)
      option(value="") Select an engine
      option(value="mcnp6.1") mcnp6.1
      option(value="phits") phits
      option(value="mc4nbp") mc4nbp
    div(class="invalid-feedback") Please select one engine
  div(class="form-group")
    input(type="text",name="id",id="id",class="form-control",placeholder="id",required)
    div(class="invalid-feedback") Enter id
  div(class="custom-file")
    input(type="file",name="input",id="input",class="custom-file-input",required)
    label(class="custom-file-label",for="input") Choose file
    div(class="invalid-feedback") Choose a file
    script.
      $('#input').on('change',function(){
        var filename=$(this).val().split('\\').pop()
        $(this).siblings('#input~.custom-file-label').addClass('selected').html(filename)
      })
  div(class="form-group justify-content-center")
    button(id="submit",type="submit",class="col-xs-10 col-md-6 col-lg-3 btn btn-primary col center-block",style="font-size:1.5rem;") Submit
